@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  background-color: #ffffff;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.container {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: right;
}

hr {
  color: #d3d3d3;
  margin-bottom: 15px;
}

h3 {
  font-weight: 300;
  padding: 0;
  margin: 0;
}

i {
  padding: 0;
  margin: 0;
}

.mr {
  padding-right: 5px;
}

h2 {
  font-weight: 700;
  font-size: large;
}

a {
  color: #0000ff;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
  background-size: 100% 2px;
}

a:visited {
  color: #0000ff;
}

*::-webkit-scrollbar {
  height: 0.5rem !important;
  width: 0.5rem !important;
}
*::-webkit-scrollbar-thumb {
  border-radius: 0.25rem !important;
}

.btn {
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 2em;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  bottom: 2%;
  right: 1%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

body.dark {
  background: #16181d;
  color: #e5e5fa;
}
/* #16181d */
hr.dark {
  color: #fa2b2b;
  background: #fa2b2b;
}

a.dark {
  color: #4e78d9;
}

a:visited.dark {
  color: #4e78d9;
}

ul.dark {
  color: #525863;
}

h2.dark {
  color: #e5e5fa;
}

.card-b {
  border: 1px solid #e9e9e9;
}

.card-b.dark {
  border: 1px solid #252429;
}

.darkmode {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.75rem;
  padding: 1rem;
  margin: 1px;
  border-radius: 100%;
  border-color: #0000ff !important;
  -webkit-box-shadow: 0 0 1rem -0.25rem #0000ff, inset 0 0 1rem -0.75rem #0000ff;
  box-shadow: 0 0 1rem -0.25rem #0000ff, inset 0 0 1rem -0.75rem #0000ff;
  color: #0000ff;
  cursor: pointer;
  -webkit-transition: 0.25s -0.05s;
  transition: 0.25s -0.05s;
}
.darkmode:hover {
  -webkit-box-shadow: 0 0 1rem -0.25rem #0000ff, inset 0 0 1rem -0.25rem #0000ff;
  box-shadow: 0 0 1rem -0.25rem #0000ff, inset 0 0 1rem -0.25rem #0000ff;
}

.darkmode.dark {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.75rem;
  padding: 1rem;
  margin: 1px;
  border-radius: 100%;
  border-color: #4e78d9 !important;
  -webkit-box-shadow: 0 0 1rem -0.25rem #4e78d9, inset 0 0 1rem -0.75rem #4e78d9;
  box-shadow: 0 0 1rem -0.25rem #4e78d9, inset 0 0 1rem -0.75rem #4e78d9;
  color: #4e78d9;
  cursor: pointer;
  -webkit-transition: 0.25s -0.05s;
  transition: 0.25s -0.05s;
}
/*
  .darkmode:hover {
	-webkit-box-shadow: 0 0 1rem -0.25rem #4e78d9, inset 0 0 1rem -0.25rem #4e78d9;
			box-shadow: 0 0 1rem -0.25rem #4e78d9, inset 0 0 1rem -0.25rem #4e78d9;
  }
  */
